.bicicletas-lista {
  padding-top: 60px;
  padding-bottom: 120px;
}

.bicicletas-lista h2 {
  margin-bottom: 40px;
  max-width: 1200px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

.bicicletas-lista .bicicletas-listas-itens {
  display: flex;
  gap: 40px;
  padding: 0px 20px;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
}

.bicicletas-lista img {
  margin-bottom: 16px;
}
