.bicicletas-bg {
  background-color: var(--cor-11);
}

.bicicletas {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  padding-top: 60px;
  padding-bottom: 60px;
}

.bicicletas-imagem {
  /* position: relative; */
  display: grid;
}

.bicicletas-imagem img {
  grid-area: 1/1;
}

.bicicletas-imagem span {
  grid-area: 1/1;
  place-self: start end;
  display: inline-block;
  margin-top: 0px;
  background: var(--cor-12);
  padding: 8px 16px 8px 8px;
  border-radius: 4px 0 0 4px;
  /* position: absolute;
  top: 0px;
  right: 0px; */
}

.bicicletas-conteudo {
  display: grid;
  grid-template-columns: 1fr auto;
  align-content: start;
}

.bicicletas h2,
.bicicletas p {
  grid-column: 1/-1;
}

.bicicletas h2 {
  margin-bottom: 20px;
}

.bicicletas h2::before {
  content: "";
  display: block;
  width: 12px;
  height: 8px;
  background-color: var(--cor-p1);
}
