body {
  font-size: arial;
  margin: 0px;
  background: #e7e7e7;
  display: grid;
  gap: 60px;
  justify-items: center;
  margin-top: 60px;
}

img {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
}

p,
h1,
h2,
h3 {
  margin: 0px;
}

p {
  font-size: 20px;
  line-height: 1.3;
}
/* Menu */
.menu {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.menu a {
  background: #ffffff;
  padding: 15px 30px;
  border-radius: 4px;
  color: #000000;
  text-transform: uppercase;
}
/* conteúdo principal */

.conteudo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 1000px;
}

.introducao {
  padding: 40px;
  text-align: right;
  background: #ffffff;
  position: relative;
}

.vantagens {
  background: #ffffff;
}

/* botão */

.detalhe {
  width: 60px;
  height: 4px;
  background: #e21;
  display: inline-block;
  position: absolute;
  top: 30px;
}

.botao {
  background: #e21;
  color: #ffffff;
  padding: 15px 30px;
  border-radius: 4px;
  text-transform: uppercase;
}
