body {
  font-family: Arial;
  margin: 0px;
  background: #2e2d2d;
  display: grid;
  gap: 60px;
  justify-items: center;
  margin-top: 60px;
}

.header {
  display: grid;
  justify-items: center;
  gap: 60px;
}

img {
  max-width: 100%;
  display: block;
}

header img.bikcraft {
  width: 12.5rem;
}

a {
  text-decoration: none;
}

p,
h1,
h2,
h3 {
  margin: 0px;
}

p {
  font-size: 20px;
  line-height: 1.3;
}

ul {
  text-decoration: none;
  margin: 0px;
  padding: 0px;
}

/* Menu */

.menu-principal a {
  font-size: 22px;
  color: rgb(0, 0, 0);
  padding: 15px 30px;
  border-radius: 4px;
  text-transform: uppercase;
}

ul li {
  display: inline;
  padding: 0.9rem 1.2rem;
  background-color: #ffffff;
  border-radius: 0.5rem;

  text-decoration: none;
  color: black;
}

ul li:hover {
  background-color: #655d5d;
  border-radius: 2px solid rgb(108, 57, 57);
}
/* conteúdo principal */

.conteudo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 1000px;
}

.introducao {
  background: #857f7f;
  padding: 40px;
  text-align: right;
  position: relative;
  display: grid;
  gap: 20px;
  align-content: center;
  justify-items: end;
}

.introducao h1 {
  font-size: 2rem;
}

.introducao:hover {
  background-color: #655d5d;
}

/* Detalhe - linha vermelha entre as fotos */

.detalhe {
  width: 60px;
  height: 4px;
  background: #e21;
  position: absolute;
  top: 30px;
  right: -30px;
}

/* botão */
.botao {
  background: #ff0000;
  color: #ffffff;
  padding: 15px 30px;
  border-radius: 4px;
  text-transform: uppercase;
  justify-content: end;
  /*justify-self: end;*/
}

.botao:hover {
  background-color: #000000;
  transition: 0.4s;
}

/*Vantagens Bikecraft */

.vantagens-subititulo {
  display: flex;
}

.vantagens-subtitulo:hover {
  background-color: #857f7f;
  transition: 0.4s;
}

h2.subtitulo {
  font-size: 64px;
  text-transform: uppercase;
  color: #fb3748;
  padding: 40px;
  text-align: right;
  align-self: center;
}

h2.subtitulo:hover {
  color: #ffffff;
  transition: 0.4s;
}

/*Lista de vantagens */

.vantagens li {
  background: #857f7f;
  padding: 40px;
}

.vantagens:hover {
  background-color: #655d5d;
  transition: 0.4s;
}

.vantagens-item {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 10px 20px;
  padding: 20px;
}

.vantagens-item:hover {
  background-color: #201b1b;
  color: white;
  border-left: 5px solid #571e1e;
  transition: 0.4s;
}

.vantagens-item p {
  grid-column: 2;
}

/*Footer */

.rodape {
  background: #1b1b1b;

  width: 100%;
  text-align: center;
  padding: 40px;
  box-sizing: border-box;
}

div.rodape p {
  color: white;
}
