/* Container */
.container {
  box-sizing: border-box;
  max-width: 1200px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

/* Botão */
.botao {
  display: inline-block;
  padding: 16px 32px;
  background: linear-gradient(180deg, #f1b602 0%, #f8ab10 100%);
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 1);
  text-transform: uppercase;
  color: var(--cor-p5);
  font: 600 1.125rem/1.35 "Poppins", sans-serif;
  max-width: max-content;
  border: none;
  cursor: pointer;
}

/* Detalhe do botão de introdução */
.botao:hover {
  background: linear-gradient(180deg, #e7a60f 0%, #db890e 100%);
  transition: 0.3s;
}

.botao.secundario {
  background: var(--cor-8);
  color: var(--cor-2);
}

/* Detalhe do botão secundario de introdução */
.botao.secundario:hover {
  background: var(--cor-9);
}

.botao.seta {
  display: flex;
  align-items: center;
}

.botao.seta::after {
  content: "";
  display: inline-block;
  width: 18px;
  height: 10px;
  margin-left: 12px;
  background: url(../../assets/icones/seta.svg);
  transition: transform 0.3s;
}

.botao.seta:hover::after {
  transform: translateX(4px);
}

/* links */
.link {
  display: inline-block;
  color: var(--cor-p1);
  font: 500 1.5rem/1.5 "Poppins", sans-serif;
  text-transform: uppercase;
}

.link::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-color: currentColor;
}

.link:hover {
  color: var(--cor-0);
}

/* Titulo internos */
.titulo-bg {
  background-color: var(--cor-11);
  padding-top: 60px;
  padding-bottom: 60px;
}

.titulo {
  background: url(../../assets/dec/top-right.svg) no-repeat top right 20px;
}

.titulo p {
  margin-bottom: 4px;
}

/* Responsivo */
@media (max-width: 800px) {
  .titulo-bg {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .titulo p {
    font-size: 1rem;
    text-transform: lowercase;
    font-weight: 400;
  }
}

@media (max-width: 600px) {
  .botao {
    padding: 12px 16px;
    font-size: 1rem;
  }
}
