.font-1-xs {
  font: 400 0.75rem/1.35 "Poppins", sans-serif;
}

.font-2-xs {
  font: 400 0.875rem/1.35 "Roboto", sans-serif;
}

.font-1-s {
  font: 400 1rem/1.5 "Poppins", sans-serif;
}

.font-2-s {
  font: 400 1.5rem/1.35 "Roboto", sans-serif;
}

.font-1-m,
.font-1-m-b {
  font: 400 1.125rem/1.35 "Poppins", sans-serif;
}

.font-1-m-b {
  font-weight: 600;
}

.font-2-m {
  /* Shorthand */
  font: 500 1.125rem/1.35 "Roboto", sans-serif;
}

.font-1-l {
  font: 400 1.5rem/1.5 "Poppins", sans-serif;
}

.font-2-l,
.font-2-l-b {
  /* Shorthand */
  font: 400 1.5rem/1.5 "Roboto", sans-serif;
  /*  
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.5;
  font-family: "Roboto", sans-serif;
  */
}

.font-2-l-b {
  font-weight: 500;
  letter-spacing: 0.015em;
  text-transform: uppercase;
}

.font-1-xl {
  /* Shorthand */
  font: 600 2rem/1.25 "Poppins", sans-serif;
}

.font-2-xl {
  /* Shorthand */
  font: 600 2rem/1.25 "Roboto", sans-serif;
}

.font-1-xxl {
  /* Shorthand */
  font: 500 3.4rem/1.125 "Poppins", sans-serif;
  /*  propriedades
  1° font-weight: 500;
  2° font-size: 3.4rem;
  3° line-height: 1.125;
  4° font-family: "poppins", sans-serif;
  */
}

@media (max-width: 1200px) {
  .font-xxl {
    font-size: 3rem;
  }
  .font-2-l,
  .font-2-l-b {
    font-size: 1.125rem;
  }
}

@media (max-width: 800px) {
  .font-1-xxl {
    font-size: 2rem;
  }
  .font-1-xxl,
  .font-2-xxl {
    font-size: 1.5rem;
  }
}
