#contato {
  background: var(--cor-1);
}

.contato {
  display: grid;
  grid-template-columns: 5fr 7fr;
}

.contato-dados,
.contato-formulario {
  padding: 60px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  margin-bottom: 222px;
}
