.bicicleta {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: start;
  gap: 40px;
  padding-top: 60px;
  padding-bottom: 60px;
}

.bicicleta-imagens {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.bicicleta-imagens img {
  flex: 1;
  min-width: 200px;
}

.bicicleta-imagens img:first-child {
  min-width: 100%;
}

.bicicleta-conteudo > p {
  margin-bottom: 32px;
}

.bicicleta-comprar {
  display: grid;
  grid-template-columns: max-content auto;
  align-items: center;
  justify-items: start;
  gap: 8px 12px;
  margin-bottom: 40px;
}

.bicicleta-comprar a {
  grid-row: span 2;
}

.bicicleta-comprar span {
  display: flex;
  align-items: center;
  background-color: var(--cor-12);
  gap: 8px;
  padding: 4px 8px;
  border-radius: 4px;
}

.bicicleta-conteudo h2 {
  text-transform: uppercase;
  letter-spacing: 0.015rem;
  margin-bottom: 12px;
}

.bicicleta-informacoes,
.bicicleta-ficha {
  padding: 32px;
  background-color: var(--cor-12);
  border-radius: 4px;
}

.bicicleta-informacoes {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px;
  margin-bottom: 40px;
}

.bicicleta-informacoes img {
  width: 24px;
  margin-bottom: 8px;
}

.bicicleta-informacoes h3 {
  margin-bottom: 8px;
}
